name: Validate JSON Files

on:
  pull_request:
    paths:
      - "public/videos/**.json"
      - "public/songs.json"
      - "public/artists.json"
      - "schema/**.json"

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Validate JSON files
        run: node scripts/validateJsonSchemas.js
